<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="character-{{_id}}-name-alias" class="flex-horizontal name-alias">
    <div class="grow-two">
    	<img src="{{img}}" data-edit="img" title="{{name}}" class="portrait">
    </div>

    <div class="grow-two">
      <div id="character-{{_id}}-name-box">
        <label for="character-{{_id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="character-{{_id}}-name" class="name" name="name" value="{{name}}">
      </div>

      <div id="character-{{_id}}-traits" class="flex-column">

        <div class="item-block flex-horizontal">
         <div class="item-class-label">
					 <a class="item-add-popup" data-distinct="true" data-item-type="upbringing">{{localize "BITD.Upbringing"}}</a>
				 </div>
          {{#each items as |item id|}}
            {{#if (eq item.type "upbringing")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <div class="item-name">{{item.name}}</div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              </div>
              {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="profession">{{localize "BITD.Profession"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "profession")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <div class="item-name">{{item.name}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="class">{{localize "BITD.Class"}}</a></div>
            {{#each items as |item id|}}
                {{#if (eq item.type "class")}}
                <div class="item flex-horizontal" data-item-id="{{item._id}}">
                  <div class="item-body flex-horizontal">
                    <div class="item-name">{{item.name}}</div>
                  </div>
                  <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
            {{/each}}
          </div>

      </div>
    </div>

    <div class="grow-two">
      <div id="character-{{_id}}-alias-box">
        <label for="character-{{_id}}-alias">{{localize "BITD.Alias"}}</label>
        <input type="text" id="character-{{_id}}-alias" class="alias" name="system.alias" value="{{system.alias}}">
      </div>

      {{!-- XP --}}
      <div class="section big-teeth-section">
        <div id="character-{{_id}}-xp" class="big-teeth character-xp">
          <label class="black-label" for="character-{{_id}}-xp-0">{{localize system.experience.name}}</label>
          {{#with system as | system | }}
          {{#times_from_1 system.experience.max}}
            <span class="dot-value" data-path="system.experience.value" data-max_value="{{system.experience.max}}" data-value="{{this}}">
              {{#if (lt system.experience.value this)}}
                <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-halfgrey.png">
              {{else}}
                <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-blue.png">
              {{/if}}
            </span>
          {{/times_from_1}}
          {{/with}}
        </div>
      </div>
 
      {{!-- Stress --}}
      <div id="character-{{_id}}-stress-trauma" class="section big-teeth-section">
        <div id="character-{{_id}}-stress" class="big-teeth character-stress">
          <label class="black-label" for="character-{{_id}}-stress-0">{{localize system.stress.name}}</label>
          {{#with system as | system | }}
          {{#times_from_1 system.stress.max}}
            <span class="dot-value" data-path="system.stress.value" data-max_value="{{system.stress.max}}" data-value="{{this}}">
              {{#if (lt system.stress.value this)}}
	      			  <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-halfgrey.png">
              {{else}}
                <img class="big-teeth" src="systems/brinkwood/styles/assets/teeth/stresstooth-red.png">
              {{/if}}
            </span>
          {{/times_from_1}}
          {{/with}}
        </div>
      </div>
    </div>


  </section>

  {{!-- Harm, Healing and Armor --}}
  <section id="character-{{_id}}-bans-armor" class="flex bans-armor">
    <div id="character-{{_id}}-character-bans" class="character-bans">
      <table>
        <thead>
          <th class="black-white" colspan="4">{{localize "BITD.Bans"}}</th>
	   		  <th class="black-white"><label></label></th>
          <th class="black-white">{{localize "BITD.Armor"}}</th>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td colspan="2">
              <input type="text" id="character-{{_id}}-bans-3-1" name="system.bans.heavy.one" value="{{system.bans.heavy.one}}">
            </td>
            <td></td>
            <td rowspan="3">
              <div id="character-{{_id}}-scars-clock" class="character-scars-clock">
                {{{blades-clock "system.scars" 4 system.scars _id "scars" }}}
              </div>
              <div id="character-{{_id}}-oath-clock" class="character-oath-clock">
                {{{blades-clock "system.oath" 4 system.oath _id "oath" }}}
              </div>

            </td>
            <td rowspan="3" id="character-{{_id}}-armor-uses" class="character-armor-uses">
              <div>
                <label for="character-{{_id}}-armor-uses-armor">{{localize "BITD.Armor"}}</label>
                <input id="character-{{_id}}-armor-uses-armor" type="checkbox" name="system.armor-uses.armor" {{checked system.armor-uses.armor}}>
              </div>
              <div>
                <label for="character-{{_id}}-armor-uses-heavy">{{localize "BITD.Heavy"}}</label>
                <input id="character-{{_id}}-armor-uses-heavy" type="checkbox" name="system.armor-uses.heavy" {{checked system.armor-uses.heavy}}>
              </div>
              <div>
                <label for="character-{{_id}}-armor-uses-special">{{localize "BITD.Special"}}</label>
                <input id="character-{{_id}}-armor-uses-special" type="checkbox" name="system.armor-uses.special" {{checked system.armor-uses.special}}>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input type="text" id="character-{{_id}}-bans-2-1" name="system.bans.medium.one" value="{{system.bans.medium.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-bans-2-2" name="system.bans.medium.two" value="{{system.bans.medium.two}}">
            </td>
            <td></td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <input type="text" id="character-{{_id}}-bans-1-1" name="system.bans.light.one" value="{{system.bans.light.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-bans-1-2" name="system.bans.light.two" value="{{system.bans.light.two}}">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


  {{!-- Attributes --}}
  <section class="flex-horizontal">

    <div class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="traits">{{localize "BITD.Traits"}} & {{localize "BITD.Loadout"}}</a>
        <a class="item" data-tab="character-notes">{{localize "BITD.Notes"}}</a>
        <a class="item" data-tab="downtime">{{localize "BITD.Downtime"}}</a>
       {{#if isGM}}
          <a class="item" data-tab="effects">{{localize "BITD.Effects"}}</a>
        {{/if}}
      </nav>

      <div id="character-{{_id}}-traits" class="tab flex-vertical traits" data-tab="traits">
        <div class="label-stripe">
          <p><label for="character-{{_id}}-experience-0">{{localize "BITD.Traits"}}</label></p>
        </div>

        <div id="character-{{_id}}-traits-list">
          {{#each traits as |trait id|}}
          {{#if (eq trait.type "trait")}}
            <div class="item flex-horizontal">
              <div class="item-select" data-item-id="{{trait._id}}" data-item-list="traits">
 	      <div class="item-name">
		<h3>
		  <input type="checkbox" id="item-{{trait._id}}-purchased" class="dot" data-item-id="{{trait._id}}" {{#if trait.system.purchased }}checked{{/if}}>
                  {{trait.name}}
		</h3>
	      </div>
                <div class="flex-horizontal trait">
                  <div class="item-description">{{{trait.system.description}}}</div>
                </div>
              </div>
            </div>
          {{/if}}
          {{/each}}
        </div>
        <div class="label-stripe flex-horizontal">
           <p>{{localize "BITD.Loadout"}}</p>
           <p>{{system.loadout}}/{{localize system.load_level}} </p>
           <div class="dropdown">
             <select name="system.selected_load_level">
               {{selectOptions system.load_levels selected=system.selected_load_level localize=true}}
             </select>
           </div>
        </div>
        <div class="item-list flex-horizontal">
          {{#each items as |item id|}}
          {{#if (eq item.type "item")}}
            <div class="item flex-horizontal item-select" data-item-id="{{item._id}}">
	      <div class="item-equipped">
                <input type="checkbox" id="item-{{item._id}}-equipped" class="dot" data-item-id="{{item._id}}" {{#if item.system.equipped }}checked{{/if}}>
              </div>
	      <div class="item-name">[{{item.system.load}}] {{item.name}}</div>
              <div class="item-usage">
                {{#times_from_1 item.system.uses }}
                  <span class="dot-value" data-value="1" data-path="">&#9898;</span>
                {{/times_from_1}}
              </div>
            </div>
          {{/if}}
          {{/each}}
        </div>

      </div>

      {{!-- Owned Items Tab --}}
      <div id="character-{{_id}}-loadout" class="tab flex-vertical loadout" data-tab="loadout">
        <div class="label-stripe flex-horizontal">
           <p>{{localize "BITD.Loadout"}} <a class="item-add-popup" data-item-type="item"><i class="fas fa-plus-square"></i></a></p>
           <p>{{system.loadout}}/{{localize system.load_level}} </p>
           <div class="dropdown">
             <select name="system.selected_load_level">
               {{selectOptions system.load_levels selected=system.selected_load_level localize=true}}
             </select>
           </div>
        </div>
        <div>
          {{#each items as |item id|}}
          {{#if (eq item.type "item")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <div class="item-name">{{item.name}}</div>
              </div>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="item">{{localize "BITD.AddItem"}}</a></div>
        </div>
      </div>

      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="label-stripe">
          <p>{{localize "BITD.Notes"}}</p>
        </div>
				{{editor system.description target="system.description" button=true editable=true documents=true engine="prosemirror" collaborate=true}}
      </div>

      {{!-- Active Effects --}}
      <div id="character-{{_id}}-effects" class="tab effects flex-vertical" data-tab="effects">
        <div class="label-stripe">
          <p>{{localize "BITD.Effects"}}</p>
        </div>
        {{> "systems/brinkwood/templates/parts/active-effects.html"}}
      </div>

			{{!-- Downtime actions --}}
			<div id="character-{{_id}}-downtime" class="tab downtime flex-vertical" data-tab="downtime">
				<div class="label-stripe">
					<p>{{localize "BITD.Downtime"}}</p>
				</div>
  		  {{> "systems/brinkwood/templates/parts/actor/downtime.html" actor=actor}}
			</div>



    </div>
    {{!-- Attributes --}}
    {{> "systems/brinkwood/templates/parts/attributes.html" actor=actor}}
  </section>

</form>
