/*
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/Kirsty.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
.brinkwood {
  font-family: "Crimson Text", serif;
  /*
  .item-list input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #000;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #000;
    border-radius: 50%;
    transform: translateY(0.15em);
  }

  .item-list input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
  }

  .item-list input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  */
}
.brinkwood .window-content {
  background-color: #FFF;
  background-blend-mode: luminosity, normal;
}
.brinkwood textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}
.brinkwood .debug-toggle {
  opacity: 0.1;
}
.brinkwood .debug-toggle.on {
  opacity: 0.75;
}
.brinkwood .rollable-text {
  transition: color 0.2s;
}
.brinkwood .rollable-text:hover {
  cursor: pointer;
  color: red;
}
.brinkwood section {
  display: flex;
  justify-content: space-between;
}
.brinkwood section .grow-one {
  flex-grow: 1;
}
.brinkwood section .grow-two {
  flex-grow: 2;
}
.brinkwood section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
.brinkwood .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.brinkwood .item-list.flex-horizontal {
  flex-flow: row wrap;
}
.brinkwood .item-list div.item-name {
  text-align: left;
}
.brinkwood .item-list div.item.flex-horizontal {
  flex: 0 0 12em;
  align-items: center;
}
.brinkwood .flex-horizontal.trait {
  align-items: center;
}
.brinkwood .flex-horizontal.trait input[type=checkbox] {
  margin-right: 1em;
}
.brinkwood .flex-vertical {
  display: flex;
  flex-direction: column;
}
.brinkwood .tab[data-tab] {
  display: none;
}
.brinkwood .tab[data-tab].active {
  display: block;
}
.brinkwood .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
}
.brinkwood .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
}
.brinkwood .label-stripe {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
.brinkwood .label-stripe-gray {
  text-transform: uppercase;
  background-color: #999;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
.brinkwood .editor,
.brinkwood .editor-content {
  min-height: 150px;
}
.brinkwood .description {
  font-style: italic;
}
.brinkwood i.nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
.brinkwood i.nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: red;
}
.brinkwood .loadout select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right;
  padding: 0 20px 0 0;
  margin: 0.1em -6px 0 0;
  background-color: #191813;
  font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: right;
}
.brinkwood .loadout select option {
  color: white;
}
.brinkwood .loadout select:hover {
  color: red;
}
.brinkwood .abilities .item-name, .brinkwood .loadout .item-name, .brinkwood .faction-items .item-name {
  width: 100px;
  margin-left: 10px;
}
.brinkwood .abilities .item-body, .brinkwood .loadout .item-body, .brinkwood .faction-items .item-body {
  width: auto;
}
.brinkwood .abilities .item-description, .brinkwood .loadout .item-description, .brinkwood .faction-items .item-description {
  width: 260px;
}
.brinkwood td {
  padding: 5px;
}
.brinkwood .flexrow .flex05, .brinkwood .flexcol .flex05 {
  flex: 0.5;
}
.brinkwood .flexrow .flex075, .brinkwood .flexcol .flex075 {
  flex: 0.75;
}
.brinkwood .flexrow .flex125, .brinkwood .flexcol .flex125 {
  flex: 1.25;
}
.brinkwood {
  min-width: 420px;
  min-height: 320px;
}
.brinkwood .clock-zero-label {
  color: #191813;
}
.brinkwood .clocks.clocks-4 {
  position: relative;
}
.brinkwood .clocks.clocks-4 .blades-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.brinkwood .clocks.clocks-4 .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood .clocks.clocks-4 .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood .clocks.clocks-4 .blades-clock input {
  position: absolute;
  display: none;
}
.brinkwood .clocks.clocks-4 .blades-clock input[value="0"] {
  display: none;
}
.brinkwood .clocks.clocks-4 .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
.brinkwood .clocks.clocks-4 .blades-clock *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
.brinkwood .clocks.clocks-4 .blades-clock *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
.brinkwood .clocks.clocks-4 .blades-clock *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
.brinkwood .clocks.clocks-6 {
  position: relative;
}
.brinkwood .clocks.clocks-6 .blades-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.brinkwood .clocks.clocks-6 .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood .clocks.clocks-6 .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood .clocks.clocks-6 .blades-clock input {
  position: absolute;
  display: none;
}
.brinkwood .clocks.clocks-6 .blades-clock input[value="0"] {
  display: none;
}
.brinkwood .clocks.clocks-6 .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(150deg);
}
.brinkwood .clocks.clocks-6 .blades-clock *:nth-child(5) {
  transform: rotate(60deg) skewY(150deg);
}
.brinkwood .clocks.clocks-6 .blades-clock *:nth-child(7) {
  transform: rotate(120deg) skewY(150deg);
}
.brinkwood .clocks.clocks-6 .blades-clock *:nth-child(9) {
  transform: rotate(180deg) skewY(150deg);
}
.brinkwood .clocks.clocks-6 .blades-clock *:nth-child(11) {
  transform: rotate(240deg) skewY(150deg);
}
.brinkwood .clocks.clocks-6 .blades-clock *:nth-child(13) {
  transform: rotate(300deg) skewY(150deg);
}
.brinkwood .clocks.clocks-8 {
  position: relative;
}
.brinkwood .clocks.clocks-8 .blades-clock {
  position: relative;
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.brinkwood .clocks.clocks-8 .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood .clocks.clocks-8 .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood .clocks.clocks-8 .blades-clock input {
  position: absolute;
  display: none;
}
.brinkwood .clocks.clocks-8 .blades-clock input[value="0"] {
  display: none;
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(5) {
  transform: rotate(45deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(7) {
  transform: rotate(90deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(9) {
  transform: rotate(135deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(11) {
  transform: rotate(180deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(13) {
  transform: rotate(225deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(15) {
  transform: rotate(270deg) skewY(135deg);
}
.brinkwood .clocks.clocks-8 .blades-clock *:nth-child(17) {
  transform: rotate(315deg) skewY(135deg);
}
.brinkwood .blades-clock-name-type > * {
  margin-bottom: 0;
}
.brinkwood .blades-clock-name-type .blades-clock {
  margin: 10px auto;
}
.brinkwood.actor.pc {
  /*
  *  Elements that can be changed will hint this by dimming and fading a little on hover
  */
  /*
   * Toothradio. Some (eg trauma) are not changeable, hence the option.
   */
  /*
   * Custom Radio
   */
  /*
   * Custom Radio Squared
   */
  /*
   * Checkboxes underscored.
   */
  /*
   * Create Clock
   */
  /*
   * Turf Block
   */
  /*
   * Toothradio single elements
   */
  /*
   * Custom Radio Round
   */
  /*
   * General Styles
   * Cleaned out things that don't appear to apply to the character sheet, and exist in other, separated SCSS files.
   * Some things *might* be missing, but at a glance, everything looks to be in order.
   */
}
.brinkwood.actor.pc * img.big-teeth {
  height: 30px;
  border: none;
  margin-left: 5px;
}
.brinkwood.actor.pc * .name-alias img.portrait {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}
.brinkwood.actor.pc * .tab[data-tab] {
  display: none;
}
.brinkwood.actor.pc * .tab[data-tab].active {
  display: block;
}
.brinkwood.actor.pc * form.actor-sheet {
  padding: 20px;
}
.brinkwood.actor.pc * .big-teeth-section {
  border-top: 3px solid #191813;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-top: 0;
  /* Trauma */
}
.brinkwood.actor.pc * .big-teeth-section > *:last-child {
  margin-right: 0px;
}
.brinkwood.actor.pc * .big-teeth-section:last-child {
  margin-right: 0px;
}
.brinkwood.actor.pc * .big-teeth-section .big-teeth {
  display: flex;
}
.brinkwood.actor.pc * .big-teeth-section .small-teeth-container .small-teeth-wrap {
  flex-direction: column;
}
.brinkwood.actor.pc * .big-teeth-section .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
}
.brinkwood.actor.pc * .big-teeth-section .trauma-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.brinkwood.actor.pc * .big-teeth-section .trauma-list label {
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  transition: filter 0.1s;
  cursor: pointer;
  /* Hide the browser's default checkbox */
}
.brinkwood.actor.pc * .big-teeth-section .trauma-list label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood.actor.pc * .big-teeth-section .trauma-list label input {
  display: none;
}
.brinkwood.actor.pc * .big-teeth-section .trauma-list label input:checked ~ .checkmark {
  color: red;
}
.brinkwood.actor.pc * .big-teeth-section .trauma-list label .checkmark {
  text-decoration: none;
  font-weight: bold;
}
.brinkwood.actor.pc * .character-stress label[for$="-0"] {
  margin-right: 0px;
}
.brinkwood.actor.pc * .abilities .item-name, .brinkwood.actor.pc * .loadout .item-name {
  width: 100px;
}
.brinkwood.actor.pc * .abilities .item-body, .brinkwood.actor.pc * .loadout .item-body {
  width: auto;
}
.brinkwood.actor.pc * .abilities .item-description, .brinkwood.actor.pc * .loadout .item-description {
  width: 260px;
}
.brinkwood.actor.pc * .abilities .label-stripe p:first-child {
  margin-right: 10px;
}
.brinkwood.actor.pc * .loadout .item-add-popup {
  margin-left: 10px;
}
.brinkwood.actor.pc * .teeth-experience {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 10px;
}
.brinkwood.actor.pc * .teeth-experience label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood.actor.pc * .teeth-experience label:last-of-type {
  margin-right: 0px;
}
.brinkwood.actor.pc * .teeth-experience label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.brinkwood.actor.pc * .teeth-experience label[for$="-0"] i {
  margin-top: 4px;
}
.brinkwood.actor.pc * .teeth-experience label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood.actor.pc * .teeth-experience input {
  display: none;
}
.brinkwood.actor.pc * .teeth-experience input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
.brinkwood.actor.pc * .teeth-experience input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
.brinkwood.actor.pc * .bans-armor {
  display: flex;
}
.brinkwood.actor.pc * .bans-armor .character-bans {
  width: 100%;
}
.brinkwood.actor.pc * .bans-armor .character-bans table {
  width: 100%;
  background: none;
}
.brinkwood.actor.pc * .bans-armor .character-bans table tr:nth-child(even) {
  background: none;
}
.brinkwood.actor.pc * .bans-armor .character-bans table th {
  background-color: #191813;
  color: #EEEFFF;
}
.brinkwood.actor.pc * .bans-armor .character-bans table input[type=text] {
  width: 100%;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock, .brinkwood.actor.pc * .bans-armor .character-oath-clock {
  margin: 0 auto;
  position: relative;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock, .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock {
  position: relative;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock label, .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock label:hover, .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock input, .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock input {
  position: absolute;
  display: none;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock input[value="0"], .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock input[value="0"] {
  display: none;
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock *:nth-child(3), .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock *:nth-child(3) {
  transform: rotate(0deg) skewY(180deg);
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock *:nth-child(5), .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock *:nth-child(5) {
  transform: rotate(90deg) skewY(180deg);
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock *:nth-child(7), .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock *:nth-child(7) {
  transform: rotate(180deg) skewY(180deg);
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock .blades-clock *:nth-child(9), .brinkwood.actor.pc * .bans-armor .character-oath-clock .blades-clock *:nth-child(9) {
  transform: rotate(270deg) skewY(180deg);
}
.brinkwood.actor.pc * .bans-armor .character-scars-clock span.clock-label, .brinkwood.actor.pc * .bans-armor .character-oath-clock span.clock-label {
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 5px;
}
.brinkwood.actor.pc * .bans-armor .character-armor-uses div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.brinkwood.actor.pc * .attributes {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.brinkwood.actor.pc * .attributes .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
.brinkwood.actor.pc * .attributes .attribute-label,
.brinkwood.actor.pc * .attributes .attribute-skill-label {
  font-weight: bold;
  text-transform: uppercase;
}
.brinkwood.actor.pc * .attributes .attribute-skill-label {
  margin-top: 0.3em;
}
.brinkwood.actor.pc * .attributes .attributes-exp {
  margin-top: 1em;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body label:last-of-type {
  margin-right: 0px;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body label[for$="-0"] i {
  margin-top: 4px;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body input {
  display: none;
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
.brinkwood.actor.pc * .attributes .attributes-exp .stripe-tooth-body input:checked + label {
  background-image: url("assets/teeth/xptooth-red.png");
}
.brinkwood.actor.pc * .attributes .attributes-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
}
.brinkwood.actor.pc * .attributes .attributes-container label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
.brinkwood.actor.pc * .attributes .attributes-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
.brinkwood.actor.pc * .attributes .attributes-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
.brinkwood.actor.pc * .attributes .attributes-container input {
  display: none;
}
.brinkwood.actor.pc * .attributes .attributes-container input:checked ~ label {
  background-color: #EEEFFF;
}
.brinkwood.actor.pc * .attributes .attributes-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
.brinkwood.actor.pc * .attributes .attributes-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
.brinkwood.actor.pc * .attributes .attributes-container * {
  margin-right: 5px;
}
.brinkwood.actor.pc * .item-block {
  justify-content: normal;
  margin-bottom: 0.3em;
  align-items: baseline;
  height: 1.2em;
  width: 100%;
}
.brinkwood.actor.pc * .item-block .item {
  margin-left: 1em;
}
.brinkwood.actor.pc * .item-block .item .item-body {
  width: auto;
}
.brinkwood.actor.pc * .item-block .item-class-label {
  min-width: 33%;
}
.brinkwood.actor.pc * .item {
  justify-content: space-between;
}
.brinkwood.actor.pc * .item div {
  flex-grow: 2;
}
.brinkwood.actor.pc * .item .item-body {
  width: 100px;
}
.brinkwood.actor.pc * .item .item-body .item-name {
  font-weight: bold;
}
.brinkwood.actor.pc * .name,
.brinkwood.actor.pc * .lair,
.brinkwood.actor.pc * .alias {
  margin-bottom: 10px;
}
.brinkwood.actor.rebelion {
  /*
  *  Elements that can be changed will hint this by dimming and fading a little on hover
  */
  /*
   * Toothradio. Some (eg trauma) are not changeable, hence the option.
   */
  /*
   * Custom Radio
   */
  /*
   * Custom Radio Squared
   */
  /*
   * Checkboxes underscored.
   */
  /*
   * Create Clock
   */
  /*
   * Turf Block
   */
  /*
   * Toothradio single elements
   */
  /*
   * Custom Radio Round
   */
  /*
   * General Styles
   * Cleaned out things that don't appear to apply to the character sheet, and exist in other, separated SCSS files.
   * Some things *might* be missing, but at a glance, everything looks to be in order.
   */
}
.brinkwood.actor.rebelion * section.rebelion-sheet {
  justify-content: center;
}
.brinkwood.actor.rebelion * nav {
  margin-bottom: 1em;
  font-family: Kirsty, serif;
  font-size: 1.5em;
  font-variant: small-caps;
}
.brinkwood.actor.rebelion * section.sedition, .brinkwood.actor.rebelion * section.aspect {
  min-width: 450px;
}
.brinkwood.actor.rebelion * section.sedition h2, .brinkwood.actor.rebelion * section.aspect h2 {
  border: none;
  padding-top: 0.5em;
  margin-left: 3px;
}
.brinkwood.actor.rebelion * .sedition-row {
  border-top: 2px solid #191813;
}
.brinkwood.actor.rebelion * .sedition-row .name {
  font-size: 1.2em;
  margin-top: 4px;
}
.brinkwood.actor.rebelion * .sedition-row .big-teeth-section {
  border: none;
}
.brinkwood.item.sheet .item {
  justify-content: space-between;
}
.brinkwood.item.sheet .item .item-body {
  margin-bottom: 10px;
}
.brinkwood.item.sheet .item .item-body * {
  margin-right: 10px;
}
.brinkwood.item.sheet .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
.brinkwood.item.sheet .item div {
  flex-grow: 2;
}
.brinkwood.item.sheet .item .item-control {
  flex-grow: 1;
}
.brinkwood.item.sheet .item .item-body,
.brinkwood.item.sheet .item .item-class-label {
  width: 100px;
}
.brinkwood.item.sheet .item-class-label {
  margin-bottom: 10px;
}

.chat-label {
  background-color: #191813;
  font-family: Kirsty, serif;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}

.chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}

.label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}

.label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}

.blades-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}
.blades-die-tooltip .die.critical-success {
  color: #12a012;
}
.blades-die-tooltip .die.success {
  color: #008000;
}
.blades-die-tooltip .die.partial-success {
  color: #04578f;
}
.blades-die-tooltip .die.failure {
  color: red;
}

.items-to-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items-to-add input[type=radio],
.items-to-add input[type=checkbox] {
  display: none;
}
.items-to-add input[type=radio]:checked + label,
.items-to-add input[type=checkbox]:checked + label {
  font-weight: bold;
}

.tooltip:hover {
  filter: drop-shadow(0 0 0.2em crimson);
}

aside#tooltip.brinkwood-tooltip {
  color: black;
  background-color: lightgrey;
  border: 1px, solid, black;
  border-radius: 0.5em;
  font-family: "Crimson Text";
  text-align: left !important;
  margin: 1em;
  font-size: var(--font-size-14);
  max-width: 30em;
}

/*# sourceMappingURL=blades.css.map */
