// Colors
$lightgray: #CCC;
$gray: #999;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

// Transition period for sheet parts that hint what they can do
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;

// Imports
@import 'mixin.scss';

/*
 * General Styles
 * Cleaned out things that don't appear to apply to the character sheet, and exist in other, separated SCSS files.
 * Some things *might* be missing, but at a glance, everything looks to be in order.
 */

& * {
  img.big-teeth {
    height: 30px;
    border: none;
   	margin-left: 5px;
  }

  .name-alias{
    img.portrait{
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }

  .tab[data-tab]{
    display: none;
    &.active{
      display: block;
    }
  }

  form {
    &.actor-sheet {
      padding: 20px;
    }
  }

  // Stress and Trauma

  .big-teeth-section {
    border-top: 3px solid $almost_black;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    margin-top: 0;

    > * {
      &:last-child {
        margin-right: 0px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    // Stress
    .big-teeth {
      display: flex;
    }

    /* Trauma */
    .small-teeth-container {

      .small-teeth-wrap {
        flex-direction: column;

        .small-teeth {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .trauma-list {
      @include check_underscore();
      justify-content: space-between;
      align-items: flex-start;
    }

  }

  .character-stress {
    label {
      &[for$="-0"] {
        margin-right: 0px;
      }
    }
  }

  //Abilitiers and loadout
  .abilities, .loadout {
    .item-name {
      width: 100px;
    }
    .item-body {
      width: auto;
    }
    .item-description {
      width: 260px;
    }
  }

  // Abilities
  .abilities {
    .label-stripe {
      p:first-child {
        margin-right: 10px;
      }
    }
  }

  // Loadout
  .loadout {
    .item-add-popup {
      margin-left: 10px;
    }
  }

  // Experience teeth
  .teeth-experience {
    @include toothradio(10px, 30px, "assets/teeth/stresstooth-halfgrey.png", "assets/teeth/stresstooth-red.png");
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .bans-armor {

    display: flex;

    // Harm
    .character-bans {

      width: 100%;

      table {
        width: 100%;
	background: none;

	tr:nth-child(even) {
  	  background: none;
	}

        th {
          background-color: $almost_black;
          color: $almost_white;
        }

        input[type="text"] {
          width: 100%;
        }
      }
    }

    // Clock
    .character-scars-clock, .character-oath-clock {
      margin: 0 auto;
      @include clock(4, 44);

      span.clock-label {
        text-transform: capitalize;
	      font-weight: bold;
      	margin-left: 5px;
      }
    }

    .character-armor-uses {

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }


  .attributes {

    display: flex;
    flex-direction: column;
    width: 200px;

    .stripe {
      background-color: $almost_black;
      color: $almost_white;
      font-size: 17px;
      padding-left: 5px;
    }

    .attribute-label,
    .attribute-skill-label {
      font-weight: bold;
      text-transform: uppercase;
    }
    .attribute-skill-label {
      margin-top: 0.3em;
    }
    .attributes-exp {

  		margin-top: 1em;

      .stripe-tooth-body {
        @include toothradio(10px, 30px, "assets/teeth/xptooth-white.png", "assets/teeth/xptooth-red.png");
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .attributes-container {
      display: flex;
      margin: 3px 0px;
      @include custom_radio(15px, 15px);

      * {
        margin-right: 5px;
      }
    }
  }

	.item-block {
		justify-content: normal;
		margin-bottom: 0.3em;
		align-items: baseline;
		height: 1.2em;
		width: 100%;
		.item {
			margin-left: 1em;

			.item-body {
				width: auto;
			}
		}
  	.item-class-label {
	  	min-width: 33%;
		}
	}

  // ITEM
  .item {
   
    justify-content: space-between;


    div {
      flex-grow: 2;
    }
    .item-body {
      width: 100px;
      .item-name { 
        font-weight: bold;
      }
    }
  }

  .name,
  .lair,
  .alias {
    margin-bottom: 10px;
  }
}
