.tooltip:hover {
	filter: drop-shadow(0 0 0.2em crimson);
}
aside#tooltip {
	color: black; 
	background-color: lightgrey;
	border: 1px, solid, black;
	border-radius: 0.5em;
	font-family: "Crimson Text";
  text-align: left !important;
	margin: 1em;
	font-size: var(--font-size-14);
	max-width: 30em;
}
