<div id="character-{{_id}}-attributes" class="attributes">
  {{#each system.attributes as |attribute attribute_name|}}

  <div id="character-{{../_id}}-attributes-{{attribute_name}}" class="attribute">
    <div id="character-{{../_id}}-attributes-{{attribute_name}}-title" class="attributes-exp">
      <div class="stripe">
        <a class="attribute-label roll-die-attribute rollable-text" data-roll-attribute="{{attribute_name}}">{{localize (concat attribute.label 'Short')}}</a>
      </div>
    </div>

    {{!-- Skills --}}

    {{#each attribute.skills as |skill skill_name|}}

    <div class="flex-horizontal">
      <div class="attributes-container">
	{{#times_from_1 4}}
	<span class="dot-value" data-max_value="4" data-value="{{this}}" data-path="system.attributes.{{attribute_name}}.skills.{{skill_name}}.value">
          {{#if (lt skill.value this)}}
          &#9898;
	  {{else}}
	  &#9899;
	  {{/if}}
	</span>
	{{/times_from_1}}

        
        <div class="attribute-skill-label roll-die-attribute rollable-text" data-roll-attribute="{{skill_name}}">{{localize skill.label}}</div>
      </div>
    </div>
    {{/each}}

  </div>
  {{/each}}
</div>
